body {
	width: 600px;
	margin: 50px auto;
}

form {
	width: 300px;
	margin: auto;
	background-color: lightgray;
	padding: 20px;
	border-radius: 10px;
}

form .info {
	width: 95%;
	border: none;
	height: 30px;
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 5px;
	font-size: 12pt;
}

form label {
	font-family: sans-serif;
	font-size: 10pt;
}

#button {
	margin: 20px auto 10px auto;
	text-align: center;
}
form button {
	height: 50px;
	width: 200px;
}

p {
	text-align: center;
}
